{% extends "base.twig" %} {% block title %} Sign in {% endblock %}
{% block content %}

    <style>
        .cotainer{
            margin: 0;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.6;
            color: #212529;
            text-align: left;
        }

        .btn, .form-control{
            font-size: 15px;
        }

        .error{
            color: red;
        }

        .message{
            color: limegreen;
        }

        .my-form
        {
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            font-family: Raleway, sans-serif;
        }

        .my-form .row
        {
            margin-left: 0;
            margin-right: 0;
        }

        .login-form .row
        {
            margin-left: 0;
            margin-right: 0;
        }
    </style>
    <script>
        function validform() {
            const EMAIL_ADDRESS = document.forms["my-form"]["email_address"].value;
            const PASSWORD = document.forms["my-form"]["password"].value;

            if(!validEmailAddress(EMAIL_ADDRESS)){
                if(!validUsername(EMAIL_ADDRESS) | !validPassword(PASSWORD)) return false;
            }else{
                if(!validPassword(PASSWORD)) return false;
            }

            document.getElementById('email_error').innerText = '';
            document.getElementById('password_error').innerText = '';
        }

        function validUsername(username){
            const ALPHANUMERIC_REGEXP = /^[a-z0-9]+$/i;

            if(username==null || username===""){
                document.getElementById('email_error').innerText = 'Please enter your username';
                return false;
            }else if(!ALPHANUMERIC_REGEXP.test(username)){
                document.getElementById('email_error').innerText = 'Please only use alphanumeric characters';
                return false;
            }else if(username.length > 20){
                username.length - 20 === 1  ? document.getElementById('username_error').innerText = 'Maximum 20 characters. Offset of 1 character' :
                    document.getElementById('email_error').innerText = ''.concat('Maximum 20 characters. Offset of ',(username.length - 20).toString(),' characters');
                return false;
            }
            document.getElementById('email_error').innerText = '';
            return true;
        }


        function validEmailAddress(email_address){
            const EMAIL_REGEXP = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            if(email_address==null || email_address===""){
                document.getElementById('email_error').innerText = 'Please enter your email';
                return false;
            }else if(!EMAIL_REGEXP.test(String(email_address).toLowerCase())) {
                document.getElementById('email_error').innerText = 'Please introduce a valid email';
                return false;
            }
            document.getElementById('email_error').innerText = '';
            return true;
        }

        function validPassword(password){
            if(password.length < 6){
                document.getElementById('password_error').innerText = 'Please introduce more than 5 characters';
                return false;
            }
            document.getElementById('password_error').innerText = '';
            return true;
        }

    </script>

    <div class="cotainer my-form">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Sign in</div>
                    <div class="card-body">
                        <form name="my-form" onsubmit="return validform()" action="/login" method="POST">

                            <div class="form-group row">
                                <p class="col-md-4 col-form-label text-md-right message">{{ message }}</p>
                            </div>

                            <div class="form-group row">
                                <label for="email_address" class="col-md-4 col-form-label text-md-right">Username / Mail</label>
                                <div class="col-md-6">
                                    <input type="text" id="email_address" class="form-control" name="email_address" value="{{ email }}">
                                    <span class="error"><p id="email_error">{{ email_error }}</p></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
                                <div class="col-md-6">
                                    <input type="password" id="password" class="form-control" name="password" value="{{ password }}">
                                    <span class="error"><p id="password_error">{{ password_error }}</p></span>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="checkbox" class="col-md-4 col-form-label text-md-right">Remember me</label>
                                <div class="col-md-6">
                                    <input type="checkbox" id="checkbox" name="checkbox">
                                </div>
                            </div>

                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">Sign in</button>
                            </div>

                            <div class="form-group">
                                <p class="col-md-4 col-form-label error">{{ error }}</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}