{% extends "base.twig" %} {% block title %} Search page {% endblock %}
{% set maxproduct = 6 %}
{% block content %}

    <div class="container">
        <div class="row">
            {% set counter = 0 %}


            {% for product in products %}


                <div class="col-sm">
                    <div class="product_card">
                        <form id="myproducts-form"
                              name="my-form"
                              action="{{ path_for('myproduct')}}"
                              method="POST">

                            <div class="title_box">
                                <h1 class="title">{{product.title}}</h1>
                                <input type="hidden"  name="prod_id" value="{{ product.id_product }}">
                            </div>

                            {% for image in images %}
                                {% if image.id_product == product.id_product %}
                                        <input type="image"  name="prod_id" value="{{product.id_product }}" src="{{ base_url()}}/pictures/{{image.product_image}}" alt="Submit" height="129" width="229">
                                {% endif %}
                            {% endfor %}
                        </form>
                    </div>
                </div>





                {% set counter = counter + 1 %}

            {% endfor %}
        </div>
    </div>










{% endblock %}